@font-face {
  font-family: "Outfit";
  src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf)
    format("truetype");
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "Young Serif";
  src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf) format("truetype");
  font-weight: 100 900;
  font-display: swap;
}

:root {
  --color-primary-600: hsl(14, 45%, 36%);
  --color-primary-700: hsl(332, 51%, 32%);

  --color-neutral-100: hsl(0, 0%, 100%);
  --color-neutral-150: hsl(330, 100%, 98%);
  --color-neutral-200: hsl(30, 54%, 90%);
  --color-neutral-300: hsl(30, 18%, 87%);
  --color-neutral-700: hsl(30, 10%, 34%);
  --color-neutral-800: hsl(24, 5%, 18%);

  --font-face-default: "Outfit", sans-serif;
  --font-face-heading: "Young Serif", serif;
  --font-weight-regular: 400;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
}
